<template name="typeahead">
    <div class="form-group">
        {{#if props.label}}
            <label class="control-label">{{props.label}}</label>
        {{/if}}
        <input type="text" name="{{props.name}}" class="form-control" placeholder="{{props.placeholder}}">
        <span class="help-block"></span>
    </div>
</template>