<template name="pageHeading">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>{{props.title}}</h2>
      {{#if props.breadcrumb}}
        <ol class="breadcrumb">
          <li>
            <a href="{{pathFor route='App.home'}}">Главная</a>
          </li>
          {{#if props.category}}
            <li>
              <a href="{{route}}">{{props.category}}</a>
            </li>
          {{/if}}
          <li class="active">
            <strong>{{activeTitle}}</strong>
          </li>
        </ol>
      {{/if}}
    </div>
  </div>
</template>