<template name="buttonDropdown">
    <div class="btn-group {{props.className}}">
        <button {{button}}>{{{props.text}}} &nbsp;<span class="caret"></span></button>
        <ul class="{{dropdownClass}}">
            {{#each option in options}}
                {{#if divider option}}
                    <li role="separator" class="divider"></li>
                {{else}}
                    {{> buttonDropdownElement (getOption option)}}
                {{/if}}
            {{/each}}
        </ul>
    </div>
</template>