<template name="Form">
  <form class="{{class}}" id="{{props.name}}">
    {{#if props.fields}}
      {{> InputList listData}}
    {{/if}}
    {{#if Template.contentBlock}}
      {{> Template.contentBlock}}
    {{/if}}
    {{#if hasSubmit}}
      {{> Submit submitData}}
    {{/if}}
  </form>
</template>