<template name="HorizontalFormGroup">
  <div class="form-group {{props.className}}">
    {{#unless props.checkbox}}
      <label class="{{labelSize}}" for="{{props.id}}">{{props.label}}</label>
      <div class="{{inputSize}}">
        {{> Template.contentBlock}}
        {{#if props.help}}
          <span class="help-block">{{props.help}}</span>
        {{/if}}
      </div>
    {{else}}
      <div class="{{labelSize}}"></div>
      <div class="{{inputSize}}">
        {{> Template.elseBlock}}
        {{#if props.help}}
          <span class="help-block">{{props.help}}</span>
        {{/if}}
      </div>
    {{/unless}}
  </div>
  {{#if props.hr}}
    {{> HrLineDashed}}
  {{/if}}
</template>