<template name="VerticalFormGroup">
  {{#unless props.checkbox}}
    <div class="{{className}}">
      {{#if props.label}}
        <label for="{{props.id}}">{{props.label}}</label>
      {{/if}}
      {{> Template.contentBlock}}
      {{#if props.help}}
        <span class="help-block">{{props.help}}</span>
      {{/if}}
    </div>
  {{else}}
    {{> Template.elseBlock}}
  {{/unless}}
  {{#if props.hr}}
    {{> HrLineDashed}}
  {{/if}}
</template>