<template name="IboxTools">
  <div class="ibox-tools">
    {{#if props.collapse.show}}
      <a class="collapse-link">
        <i class="fa fa-chevron-up"></i>
      </a>
    {{/if}}
    {{#if props.dropdown}}
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-wrench"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li><a href="#">Config option 1</a>
        </li>
        <li><a href="#">Config option 2</a>
        </li>
      </ul>
    {{/if}}
    {{#if props.close}}
      <a class="close-link">
        <i class="fa fa-times"></i>
      </a>
    {{/if}}
    {{#if props.link}}
      <a href="{{props.link.href}}" class="btn btn-primary btn-xs js-link">{{{props.link.text}}}</a>
    {{/if}}
    {{#if Template.contentBlock}}
      {{> Template.contentBlock}}
    {{/if}}
  </div>
</template>