<template name="dateRange">
    {{#if isCordova}}
    {{!  todo переделать на новые инпуты  }}
        {{#VerticalFormGroup label='Начало периода'}}
            {{>inputDate startCordova}}
        {{/VerticalFormGroup}}
        {{#VerticalFormGroup label='Конец периода'}}
            {{>inputDate endCordova}}
        {{/VerticalFormGroup}}
    {{else}}
        {{#VerticalFormGroup label=props.label}}
            <div class="input-daterange input-group" id="{{props.id}}">
                {{>InputText start}}
                <span class="input-group-addon">до</span>
                {{>InputText end}}
            </div>
        {{/VerticalFormGroup}}
    {{/if}}
</template>