<template name="uploadFile">
    <div class="upload-file">
        {{>button buttonData}}
        {{#if state.name}}
            {{state.name}}
        {{/if}}
        {{>inputFile attributesFile}}
        {{#if props.name}}
            {{>inputHidden attributesText}}
        {{/if}}
    </div>
</template>