<template name="InputCheckbox">
  {{#if customColor}}
    <style media="all">
      .checkbox input[type="checkbox"]#{{props.id}} + label::before {
        background-color: {{props.colorCustom}};
        border-color: {{props.colorCustom}};
      }
    </style>
  {{/if}}
  <div class="{{className}}">
    <input type="checkbox" {{attributes}}>
    <label for="{{props.id}}">{{props.label}}</label>
  </div>
</template>