<template name="inputRadioGroup">
    {{#each option in options}}
        <div class="radio {{class}}">
                <input type="radio" {{attributes option @index}}>
            <label for="{{forId @index}}">{{option.label}}</label>
        </div>
    {{/each}}
</template>