<template name="inputSelect">
    <select {{attributes}}>
        {{#each option in options}}
            <option {{params option}}>{{option.label}}</option>
        {{/each}}
    </select>
</template>