<template name="inputGroup">
  <div class="input-group {{className}}">
    {{#if isType 'dropdown'}}
      <span class="input-group-btn">
        {{> buttonDropdown props.data}}
      </span>
    {{/if}}
    {{#if isType 'btn-prefix'}}
      <span class="input-group-btn">
        {{> Template.dynamic dynamic}}
      </span>
    {{/if}}
    {{#if isType 'prefix'}}
      <span class="input-group-addon">{{{text}}}</span>
    {{/if}}
    {{> Template.contentBlock}}
    {{#if isType 'affix'}}
      <span class="input-group-addon">{{{text}}}</span>
    {{/if}}
    {{#if isType 'btn-affix'}}
      <span class="input-group-btn">
        {{> Template.dynamic dynamic}}
      </span>
    {{/if}}
  </div>
</template>