<template name="dataTableHeader">
  <thead>
  <tr>
    {{#if props.selectColumn}}
      <th>{{> inputCheckbox props.params}}</th>
    {{/if}}
    {{#each column in columns}}
      {{> dataTableHeaderColumn column}}
    {{/each}}
    {{#if props.extraColumn}}
      <th></th>
    {{/if}}
  </tr>
  </thead>
</template>

<template name="dataTableHeaderColumn">
  <th class="{{props.sorting}}" tabindex="0">{{props.label}}</th>
</template>