<template name="dataTable">
  <div class="table-responsive dataTables_wrapper">
    {{> dataTableLimit limit}}
    {{> dataTableSearch search}}
    {{> dataTableInfo info}}
    <table class="table table-striped table-bordered table-hover dataTable">
      {{> dataTableHeader header}}
      <tbody>
      {{#each row in props.list}}
        <tr class="gradeC {{evenOrOdd @index}}">
          {{#if props.selectColumn}}
            <td>
              {{> inputCheckbox (select row)}}
            </td>
          {{/if}}
          {{#each col in props.columns}}
            <td>{{{value row col}}}</td>
          {{/each}}
          {{#if props.extraColumn}}
            <td>{{> Template.dynamic template=props.extraColumn data=(extra row)}}</td>
          {{/if}}
        </tr>
      {{else}}
        <tr>
          <td colspan="{{colLength}}"><h2 class="text-center">Ничего не найдено</h2></td>
        </tr>
      {{/each}}
      </tbody>
      <tfoot>
      <tr>
        {{#if props.selectColumn}}
          <th>
          </th>
        {{/if}}
        {{#each col in props.columns}}
          <th>{{label col}}</th>
        {{/each}}
        {{#if props.extraColumn}}
          <th></th>
        {{/if}}
      </tr>
      </tfoot>
    </table>
    {{> dataTablePaginate paginate}}
  </div>
</template>
