<template name="dataTablePaginate">
  {{#if needPaginate}}
    <div class="dataTables_paginate paging_simple_numbers">
      <ul class="pagination">
        <li class="paginate_button previous {{disabledPrev}}">
          <a href="#" class="js-paginate-prev">Пред.</a>
        </li>
        {{#each page in listPages}}
          {{> dataTablePaginateItem (getPage page)}}
        {{/each}}
        <li class="paginate_button next {{disabledNext}}">
          <a href="#" class="js-paginate-next" tabindex="0">След.</a>
        </li>
      </ul>
    </div>
  {{/if}}
</template>

<template name="dataTablePaginateItem">
  <li class="paginate_button {{currentPage}}">
    <a href="#">{{page}}</a>
  </li>
</template>