<template name="dataTableInfo">
  {{#if props.total}}
    <div class="dataTables_info" role="status" aria-live="polite">
      Показано с {{skip}} по {{limit}} из {{props.total}} записей
      {{#if props.selected}}
        | Выбрано {{props.selected}} записей
      {{/if}}
    </div>
  {{/if}}
</template>